<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    
    <!-- Package visibility for Android 11+ (API 30+) -->
    <queries>
        <!-- For opening email apps -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
        <!-- For opening URLs in browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
    </queries>
    
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".base.BaseApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:localeConfig="@xml/locale_config"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="34">
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        
        <!-- Firebase Cloud Messaging Service -->
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/horizontal_slide"
            android:launchMode="singleTask"
            android:configChanges="locale|layoutDirection"
            android:screenOrientation="portrait">
            <!-- Custom scheme deep links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="znews" />
                <data android:scheme="zonenews" />
                <data android:host="article" />
            </intent-filter>
            
            <!-- Android App Links for zonenews.io (HTTPS deep links) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <data android:scheme="https" />
                <data android:host="zonenews.io" />
                <data android:host="www.zonenews.io" />

                <!-- Home & Main Sections -->
                <data android:path="/" />
                <data android:path="/home" />
                <data android:path="/china" />
                <data android:path="/hk" />
                <data android:path="/world" />
                <data android:path="/today" />
                <data android:path="/search" />
                <data android:path="/recap" />
                <data android:path="/levity" />

                <!-- Article & Levity Article -->
                <data android:pathPrefix="/article/" />
                <data android:pathPrefix="/levity/article/" />
                
                <!-- Account & Other -->
                <data android:pathPrefix="/account/" />
                <data android:pathPrefix="/topics/" />
                <data android:path="/personal" />
                <data android:path="/login" />
                <data android:path="/register" />
                <data android:path="/subscribe" />
            </intent-filter>
            


        </activity>


        <activity android:name="com.searcher.zonenews.ui.topicmodify.TopicModifyActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.topicmodify.TopicSelectionActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.newsdetail.NewsDetailActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="com.searcher.zonenews.ui.login.RegisterActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.his.BrownHisActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.collect.MyCollectListActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.notice.NoticeListActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.topicmodify.TopicAllActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.web.WebActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"/>
        
        <activity android:name="com.searcher.zonenews.ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.searcher.zonenews.ui.test.NotificationTestActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:label="Notification Test"
            android:screenOrientation="portrait"
            />
            
        <activity android:name="com.searcher.zonenews.ui.activity.LevityFeedActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
            
        <activity android:name="com.searcher.zonenews.ui.activity.LevityDetailActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait"
            />
        


        <!-- Activity Aliases for Dynamic App Icon -->
        <activity-alias
            android:name="com.searcher.zonenews.MainActivityLauncher"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <activity-alias
            android:name="com.searcher.zonenews.MainActivityLauncherAlt"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_alt"
            android:roundIcon="@mipmap/ic_launcher_alt_round"
            android:targetActivity=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <!-- Widget Configuration Activity -->
        <activity
            android:name=".widget.WidgetConfigActivity"
            android:exported="false"
            android:theme="@style/horizontal_slide"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        
        <!-- Detailed News Widget Provider -->
        <receiver
            android:name=".widget.DetailedNewsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_detailed_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.searcher.zonenews.widget.ACTION_REFRESH_DETAILED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.searcher.zonenews.widget.ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_detailed_info" />
        </receiver>
        
        <!-- Compact News Widget Provider -->
        <receiver
            android:name=".widget.CompactNewsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_compact_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.searcher.zonenews.widget.ACTION_REFRESH_COMPACT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.searcher.zonenews.widget.ACTION_REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_compact_info" />
        </receiver>
    </application>

</manifest>